<div class="wrapper">
    <app-main-header></app-main-header>
    <app-main-sidebar></app-main-sidebar>
    <div class="content-wrapper">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Create User</h3>
            </div>
            <!-- /.card-header --> 
            <!-- form start -->
            <form [formGroup]="userForm">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email" formControlName="email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">First Name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="First Name" formControlName="first_name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Full Name</label>
                    <input type="text" class="form-control" name="fullname" placeholder="Full Name" formControlName="fullname">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="exampleInputPassword1" placeholder="Password" formControlName="password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Phone</label>
                    <input type="number" class="form-control" name="phone" placeholder="Phone" formControlName="phone">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Surname</label>
                    <input type="text" class="form-control" name="surname" placeholder="Surname" formControlName="surname">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" formControlName="username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Other Names</label>
                    <input type="text" class="form-control" name="other_names" placeholder="Other Names" formControlName="other_names">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Group ID</label>
                    <select name="group_id" id="group_id" class="form-control" formControlName="group_id" (click)="loadUserGroup()">
                      <option *ngFor="let group of userGroups" [value]="group.id">{{group.group_name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Pos User Level</label>
                    <select name="pos_user_level" id="pos_user_level" class="form-control" formControlName="pos_user_level" placeholder="Pos User Level"> 
                      <option value="0">Web User</option>
                      <option value="1">Mobile User</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Type ID</label>
                    <input type="number" class="form-control" name="type_id" placeholder="Type ID" formControlName="type_id">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Created By</label>
                    <input type="number" class="form-control" name="created_by" placeholder="Created By" formControlName="created_by">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Agent ID</label>
                    <input type="number" class="form-control" name="agent_id" placeholder="Agent ID" formControlName="agent_id">
                  </div> 
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password Change Date</label>
                    <input type="datetime-local" class="form-control" name="password_change_date" placeholder="Password Change Date" formControlName="password_change_date">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Locked</label>
                    <input type="number" class="form-control" name="locked" placeholder="Locked" formControlName="locked">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password Expired</label>
                    <input type="number" class="form-control" name="password_expired" placeholder="Password Expired" formControlName="password_expired">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">First Login</label>
                    <input type="number" class="form-control" name="firstlogin" placeholder="First Login" formControlName="firstlogin">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Branch ID</label>
                    <select name="branch" id="branch" class="form-control" formControlName="branch_id" (click)="loadBankBranch()" placeholder="Branch ID">
                      <option *ngFor="let branch of bankBranches" [value]="branch.id">{{branch.name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Logged In</label>
                    <input type="number" class="form-control" name="logged_in" placeholder="Logged In" formControlName="logged_in">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Reset</label>
                    <input type="number" class="form-control" name="reset" placeholder="Reset" formControlName="reset">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Reject</label>
                    <input type="text" class="form-control" name="reject" placeholder="Reject" formControlName="reject">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Deleted</label>
                    <input type="text" class="form-control" name="deleted" placeholder="Deleted" formControlName="deleted">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Modified On</label>
                    <input type="datetime-local" class="form-control" name="modified_on" placeholder="Modified On" formControlName="modified_on">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Unblocked By</label>
                    <input type="number" class="form-control" name="unblocked_by" placeholder="Unblocked By" formControlName="unblocked_by">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Blocked By</label>
                    <input type="number" class="form-control" name="blocked_by" placeholder="Blocked By" formControlName="blocked_by">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Unblocked On</label>
                    <input type="datetime-local" class="form-control" name="unblocked_on" placeholder="Unblocked By" formControlName="unblocked_on">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Blocked On</label>
                    <input type="datetime-local" class="form-control" name="blocked_on" placeholder="Blocked On" formControlName="blocked_on">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">ID Number</label>
                    <input type="text" class="form-control" name="IDNumber" placeholder="ID Number" formControlName="IDNumber">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Modified By</label>
                    <input type="number" class="form-control" name="modified_by" placeholder="Modified By" formControlName="modified_by">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Created Status</label>
                    <input type="text" class="form-control" name="created_status" placeholder="Creation Status" formControlName="created_status">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Role</label>
                    <input type="text" class="form-control" name="role" placeholder="Role" formControlName="role">
                  </div>
              </div>
              <!-- /.card-body -->
    
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" (click)="createUser()" >Submit</button>
              </div>
            </form>
          </div>
    </div>
    <app-content-sidebar></app-content-sidebar>
    <app-main-footer></app-main-footer>
  </div>
  <!-- ./wrapper -->



