<!-- <form [formGroup] = "signupForm">
    <input type="text" name="first_name" id="first_name" placeholder="Enter your first name" formControlName="first_name" >
    <input type="text" name="fullname" id="fullname" placeholder="Enter your full name" formControlName="fullname">
    <input type="text" name="username" id="username" placeholder="Enter your user name" formControlName="username">
    <input type="password" name="password" id="password" placeholder="Enter your password" formControlName="password">
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword">
    <input type="datetime" name="password_change_date" id="password_change_date" placeholder="Enter password change date" formControlName="password_change_date">
    <input type="number" name="locked" id="locked" placeholder="Enter locked value" formControlName="locked">
    <input type="number" name="password_expired" id="password_expired" placeholder="Enter password expired value" formControlName="password_expired">
    <input type="number" name="firstlogin" id="firstlogin" placeholder="Enter your first login" formControlName="firstlogin">
    <input type="number" name="logged_in" id="logged_in" placeholder="Enter logged_in value" formControlName="logged_in">
    <input type="number" name="reset" id="reset" placeholder="Enter reset value" formControlName="reset">
    <input type="text" name="role" id="role" placeholder="Enter role" formControlName="role">
    <button type = "submit" [disabled]="signupForm.invalid" (click)="signup()">Sign up </button>
</form> -->

<!-- <div class="input-group mb-3">
    <input type="datetime" name="password_change_date" id="password_change_date" placeholder="Enter password change date" formControlName="password_change_date" class="form-control">
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div>
<div class="input-group mb-3">
    <input type="number" name="locked" id="locked" placeholder="Enter locked value" formControlName="locked" class="form-control">
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div>
<div class="input-group mb-3">
    <input type="number" name="password_expired" id="password_expired" placeholder="Enter password expired value" formControlName="password_expired" class="form-control">
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div>
<div class="input-group mb-3">
    <input type="number" name="firstlogin" id="firstlogin" placeholder="Enter your first login" formControlName="firstlogin" class="form-control">
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div>
<div class="input-group mb-3">
    <input type="number" name="logged_in" id="logged_in" placeholder="Enter logged_in value" formControlName="logged_in" class="form-control">
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div>
<div class="input-group mb-3">
    <input type="number" name="reset" id="reset" placeholder="Enter reset value" formControlName="reset" class="form-control">
  <div class="input-group-append">
    <div class="input-group-text">
      <span class="fas fa-lock"></span>
    </div>
  </div>
</div> -->


<body class="hold-transition register-page">
    <div class="register-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Register a new membership</p>
    
          <form [formGroup] = "signupForm">
            <div class="input-group mb-3">
                <input type="text" name="first_name" id="first_name" placeholder="Enter your first name" formControlName="first_name" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="fullname" id="fullname" placeholder="Enter your full name" formControlName="fullname" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="username" id="username" placeholder="Enter your user name" formControlName="username" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password" id="password" placeholder="Enter your password" formControlName="password" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            
            <div class="input-group mb-3">
                <input type="text" name="role" id="role" placeholder="Enter role" formControlName="role" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                  <label for="agreeTerms">
                   I agree to the <a href="#">terms</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="signupForm.invalid" (click)="signup()">Register</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <div class="social-auth-links text-center">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i>
              Sign up using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i>
              Sign up using Google+
            </a>
          </div>
    
          <a routerLink="/login" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->