<div class="wrapper">
    <app-main-header></app-main-header>
    <app-main-sidebar></app-main-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Users Table</h1>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-block btn-primary" routerLink="/create-user" style="width:250px; float: right;">Create User</button>
            </div>
            </div>
        </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-12">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-wrapper">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Fullname</th>
                                <!-- <th>Password</th> -->
                                <th>Phone</th>
                                <th>Surname</th>
                                <th>Username</th>
                                <th>Other Names</th>
                                <th>Group ID</th>
                                <th>POS User Level</th>
                                <th>Type ID</th>
                                <th>Created By</th>
                                <th>Created At</th>
                                <th>Agent ID</th>
                                <th>Status</th>
                                <th>Verification Pass</th>
                                <th>Verified</th>
                                <th>Verified By</th>
                                <th>Verified On</th>
                                <th>Agent Code</th>
                                <th>Password Change Date</th>
                                <th>Locked</th>
                                <th>Password Expired</th>
                                <th>Firstlogin</th>
                                <th>Branch ID</th>
                                <th>Logged In</th>
                                <th>Reset</th>
                                <th>Reject</th>
                                <th>Deleted</th>
                                <th>Deleted By</th>
                                <th>Deleted On</th>
                                <th>Apprv Deleted By</th>
                                <th>Apprv Deleted On</th>
                                <th>Apprv Rejected By</th>
                                <th>Apprv Rejected On</th>
                                <th>Creation Status</th>
                                <!-- <th>Create Json</th>
                                <th>Update Json</th> -->
                                <th>Last Login Date</th>
                                <th>LoginAttempts</th>
                                <th>Modified On</th>
                                <th>Unblocked By</th>
                                <th>Blocked By</th>
                                <th>Unblocked On</th>
                                <th>Blocked On</th>
                                <th>IDNumber</th>
                                <th>Modified By</th>
                                <th>Created Status</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.fullname }}</td>
                                <!-- <td>{{ user.password }}</td> -->
                                <td>{{ user.phone }}</td>
                                <td>{{ user.surname }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.other_names }}</td>
                                <td>{{ user.group_id }}</td>
                                <td>{{ user.pos_user_level }}</td>
                                <td>{{ user.type_id }}</td>
                                <td>{{ user.created_by }}</td>
                                <td>{{ user.created_at }}</td>
                                <td>{{ user.agent_id }}</td>
                                <td>{{ user.status }}</td>
                                <td>{{ user.verification_pass }}</td>
                                <td>{{ user.verified }}</td>
                                <td>{{ user.verified_by }}</td>
                                <td>{{ user.verified_on }}</td>
                                <td>{{ user.agent_code }}</td>
                                <td>{{ user.password_change_date }}</td>
                                <td>{{ user.locked }}</td>
                                <td>{{ user.password_expired }}</td>
                                <td>{{ user.firstlogin }}</td>
                                <td>{{ user.branch_id }}</td>
                                <td>{{ user.logged_in }}</td>
                                <td>{{ user.reset }}</td>
                                <td>{{ user.reject }}</td>
                                <td>{{ user.deleted }}</td>
                                <td>{{ user.deleted_by }}</td>
                                <td>{{ user.deleted_on }}</td>
                                <td>{{ user.apprv_deleted_by }}</td>
                                <td>{{ user.apprv_deleted_on }}</td>
                                <td>{{ user.apprv_rejected_by }}</td>
                                <td>{{ user.apprv_rejected_on }}</td>
                                <td>{{ user.creationStatus }}</td>
                                <!-- <td>{{ user.create_json }}</td>
                                <td>{{ user.update_json }}</td> -->
                                <td>{{ user.last_login_date }}</td>
                                <td>{{ user.loginattempts }}</td>
                                <td>{{ user.modified_on }}</td>
                                <td>{{ user.unblocked_by }}</td>
                                <td>{{ user.blocked_by }}</td>
                                <td>{{ user.unblocked_on }}</td>
                                <td>{{ user.blocked_on }}</td>
                                <td>{{ user.IDNumber }}</td>
                                <td>{{ user.modified_by }}</td>
                                <td>{{ user.created_status }}</td>
                                <td>{{ user.role }}</td>
                                <td><button type="submit" [routerLink]="['/update-user', user.id]" class="btn btn-block btn-info">Update User</button></td>
                                <td><button type="submit" (click)="deleteUser(user.id)" class="btn btn-block btn-danger">Delete User</button></td>
                            </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
                <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-content-sidebar></app-content-sidebar>
    <app-main-footer></app-main-footer>
  </div>
  <!-- ./wrapper -->

